<!DOCTYPE html>
<html>
<head>
    <title>EventeX</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
</head>
<body>
    <div id="page">
        <div id="header" class="text-center">
                <img src="{{ STATIC_URL }}img/logo.png" alt="EventeX" />
        </div>
        <div id="content" class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="page-header">        
                        <h1>Bem-vindo ao EventeX!</h1>
                    </div>
                    <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
                    <p>Você não pode perder esta oportunidade!</p>
                    <p>
                        <strong>Abertura das inscrições no próximo domingo.</strong>
                    </p>
                    <p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div id="footer" class="footer text-center">
            <p>&copy; 2012. <a rel="license" href="http://eventex.herike.com">EventeX</a>, some rights reserved.
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" />
                </a>
                <a href="http://www.djangoproject.com/" id="django">
                    <img src="https://djangoproject.com/s/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." />
                </a>
            </p>
        </div>
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
</body>
</html>